
.cuadro{
		
	position: absolute;
	width: 40%;
	height: 40%;
	top: 18%;
	left: 30%;
  border: black 5px solid;
}
.mostrar{
	position: absolute;
	left: 35%;
	top: 38%;
	width: 29%;
	  border: white 5px none;
	  text-align:center;
	font-size: xx-large;
	
}